.pilot {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    height: 35vh;
    width: 80%;
    margin: 2% auto;
    background-image: url(../images/linear.jpg);
    background-size: cover;
}

.position {
    font-size: 150%;
    border: 3px solid white;
    color: white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
}

.pilotInfos {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.bestTeamCard {
    background-image: url(../images/linear.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    width: 40%;
    /* align-items: center; */
    position: absolute;
    position: sticky;
    top: 25vh;
    border: 2px solid black;
    border-radius: 25px;
    color: white;
    margin-left: 3%;
}

.bestTeamInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bestTeamPilots {
    display: flex;
}

.bestTeamPilots div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bestTeamPilot1, #bestTeamPilot2 {
    width: 100%;
}

.bestTeamCard img {
    width: 35%;
}

.buttons {
    width: 55%;
    display: flex;
    justify-content: space-around;
}