.pilot {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 99, 99);
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 2%;
}

.bestTeamCard {
    background-color: rgb(0, 99, 99);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 20%;
    align-items: center;
    position: absolute;
    position: sticky;
    top: 25vh;
    border: 2px solid black;
    border-radius: 25px;
}

.bestTeamPilots {
    width: 30%;
}