.App {
   margin: 0;
   padding: 0;
   border: 2px solid;
   position: relative;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   background-color: rgba(0, 0, 0, 0.89);
}

.standings {
   width: 60%;
   margin: 1%;
}

.f1Logo {
   width: 10%;
   position:fixed;
   top: 1%;
}

